body{
    background-color: darkred;
    font-family: Arial, Helvetica, sans-serif;
}
h1{
    text-align: center;
    color: black;
}
.projects{display:flex; flex-wrap: wrap;}/*condensed to save space*/
.project{
    width: 30%;
    margin: 10px;
    padding: auto;
    background: rgb(86, 0, 98);
    border-radius: 25%;
}